.bg-header {
    width: 100%;

    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    background: linear-gradient(90.62deg, #5fc789 41.36%, #8adf48 83.59%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    font-weight: bold;
    font-size: 1.3rem;
    font-family: "Satoshi", sans-serif;
}

.header__logo {
    width: auto;
    height: 5rem;
}

.header__logo:hover {
    cursor: pointer;
}

.header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 5rem;
}

.header__link {
    color: black;
    transition: color 0.3s;
}

.header__link:hover {
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: black;
    transition: color 0.3s;
}

.droplogo {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    max-height: 0;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);

    transition: all 0.5s ease-in-out;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: black;
    color: white;
}

.dropdown:hover .dropdown-content {
    max-height: 400px;
}

.dropdown:hover .dropbtn {
    color: white;
    text-decoration: underline;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* Lg */
/* @media (min-width: 1024px) {} */

/* xL */
/* @media (min-width: 1280px) {} */

/* 2xL */
/* @media (min-width: 1536px) {} */
